#innerWrapper{
	background: black !important;
}
#saveGame {
    color: #2F6000
}
.NoticesMessage {
    color: rgb(105, 30, 30)
}
#battleSideTitle {
    border: 1px solid #212121
}
.battleCell {
    border: 1px solid #000;
    margin-left: -1px;
    margin-top: -1px;
    color: #000;
    
}
#grid,
#mapGrid {
    color: #9B9B9B;
    background-color: #000;
}
.formationBtn {
    color: #000
}
#battleContainer {
    background: #000 none repeat scroll 0% 0%;
    border: 0px;
    color: #9B9B9B
}
#outerBuyContainer {
    background: #000 none repeat scroll 0% 0%
}
#logContainer {
    background: #000 none repeat scroll 0% 0%;
    border: 1px solid #212121;
    padding-top: 0px;
    color: #9B9B9B
}
.playerGather {
    background: #000 none repeat scroll 0% 0%;
    border: 0px;
    color: #9B9B9B;
    margin-bottom: 0px
}
#queueContainer {
    background: #000 none repeat scroll 0% 0%
}
.btn-default {
    background-color: #5D5D5D;
    border: 0px;
    color: #000
}
.btn-info {
    background-color: #283D44;
    border: 0px;
    color: #AAA
}
.btn-warning {
    background-color: #574800;
    border: 0px;
    color: #AAA
}
.btn-primary {
    background-color: #183854;
    border: 0px;
    color: #AAA
}
.btn-success {
    background-color: #194A19;
    border: 0px;
    color: #AAA
}
.btn-danger {
    background-color: #441817;
    border: 0px;
    color: #AAA
}
.btn-group,
.btn-group-vertical {
    vertical-align: top
}
.exotic {
    color: #8B4D8F !important;
    background: rgba(51, 51, 51, 0.5) none repeat scroll 0% 0%
}
#food {
    border: 1px solid #212121
}
#wood {
    border: 1px solid #212121;
    margin-left: -1px
}
#metal {
    border: 1px solid #212121;
    margin-top: -1px
}
#science {
    border: 1px solid #212121;
    margin-left: -1px;
    margin-top: -1px
}
.resourceRow >:first-child {
    padding-right: 0px;
	width: calc(50% - 4px);
}
.resourceRow >:nth-child(2) {
    padding-left: 0px;
	padding-right: 0px;
	width: calc(50% - 4px);
}
#fragments {
    border: 1px solid #212121;
    border-left: 1px solid #212121
}
#gems {
    border: 1px solid #212121;
    border-left: 1px solid #212121;
    border-top: 1px solid #212121;
    margin-top: -1px;
    height: calc(33.3% + 1px)
}
#helium {
    border: 1px solid #212121;
    border-left: 1px solid #212121;
    margin-top: -1px
}
#miscColumn {
    padding-left: 0px;
    z-index: 0;
	margin-left: 0px;
}
.playerGatherSm {
    height: 33.3%
}
#resourceColumn {
    padding-right: 0px;
    z-index: 1
}
.psText {
    color: rgb(52, 78, 48) !important
}
#trimpsPs {
    color: rgb(52, 78, 48) !important
}
.progress {
    background-color: #7E7E7E;
    border-radius: 0px
}
#trapArea {
    border: 1px solid #212121
}
.workBtn {
    border: 1px solid #5D5D5D;
    color: 9B9B9B
}
#queueContainer {
    border: 1px solid #212121
}
#queueRow {
    color: #9B9B9B
}
#noQueue {
    color: #9B9B9B
}
.dangerColor {
    background-color: #441817;
    color: #AAA
}
.successColor {
    background-color: #194A19;
    color: #AAA
}
#outerBuyContainer {
    border: 1px solid #212121;
    color: #9B9B9B
}
.thing {
    margin-left: -1px;
    margin-right: 0px;
    margin-top: -1px;
    width: 25%;
    border-color: #5D5D5D;
}
.infoColor{
	background-color: #33616F;
}

#mapsHere{
	padding-left: 1px;
	padding-top: 1px;
}

.mapElementSelected {
	border: 1px solid black;
	-webkit-box-shadow: 0 0 0 2px #1414D8 inset;
	   -moz-box-shadow: 0 0 0 2px #1414D8 inset;
            box-shadow: 0 0 0 2px #1414D8 inset;
}

.mapElementNotSelected {
	border: 1px solid black;
	-webkit-box-shadow: 0 0 0 1px #000 inset;
	   -moz-box-shadow: 0 0 0 1px #000 inset;
            box-shadow: 0 0 0 1px #000 inset;
}

.thingCanAfford {
	background: black;
}

.thingCanNotAfford {
	background: #3F3F3F;
}

.thingFiringJob {
	background: #441817;
}

.fireBtnFiring {
	background: #441817;
}

.fireBtnNotFiring {
	background: black;
}

.tabSelected {
	background: #3F3F3F;
}

.tabNotSelected {
	background: black;
}

.noRecycleDone {
	background-color: #441817 !important;
}

.noRecycle {
	background-color: #194A19 !important;
}

.goldMap {
	background-color: #574800 !important;
}

.mapThing {
	background-color: #3F3F3F;
}

.cellBeaten {
	background: #194A19;
}

.cellCurrent {
	background: #574800;
}

.cellNotBeaten {
	background: #5D5D5D;
}

.brokenUpgrade {
	color: #3B003B;
}

.tealColor {
	background-color: #283D44 !important;
}

#buyTabsUl > li > a {
	border: 1px solid #212121;
	border-bottom: 1px solid rgb(221, 221, 221);
}

#portalTimer {
	background-color: #121212;
}

.autosaving {
	background-color: #194A19;
}

.notAutosaving {
	background-color: #441817;
}

#settingsRow {
	background-color: #141414;
}

.settingBtntrue, .settingBtn1 {
	background-color: #194A19;
	color: #9B9B9B;
}
.settingBtnfalse, .settingBtn0{
	background-color: #441817;
	color: #9B9B9B;
}
.settingBtn2{
	background-color: #574800;
	color: #9B9B9B;
}

#boneWrapper {
	background-color: #141414;
	color: #9B9B9B;
}

#boneBoostsColumn {
	background-color: #000;
}

#boneImportsColumn {
	background-color: #000;
}

#boneMiscColumn {
	background-color: #000;
}

.boneBuyColumn {
	border-color: #141414;
}

.boneBuyDesc {
	background-color: #141414;
}

/* .table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #141414;
} */

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top:1px solid #141414;
}

.primaryColor {
	background-color: #183854;
}

.boneBtn {
	border-color: #141414;
}

.miscDesc {
	background-color: #141414;
}