/*Top Row*/
.badge {
	background-color: #3b3b3b;
}
body {
	background-color: black;
	overflow-y: hidden;
overflow-x: hidden;
}
.progress-bar {
    -webkit-transition: width .1s ease;
    transition: width .1s ease;
}

#wrapper {
    height: 100vh;
    background-size: auto 100%;
}

#topRow {
    /*height: 285px;*/
    height: 18vw;
    margin-bottom: 10px;
}

.playerGather {
    font-size: 1.1vw;
    text-align: center;
    width: 100%;
	height: 100%;
    border: 2px solid white;
    background: rgba(121, 121, 123, 0.5);
    margin-bottom: 3%;
    color: white;
}

.holidaySaleDesc{
	color: red;
	font-weight: bold;
}

.holidaySale{
	font-weight: bold;
	color: red;
	background-color: rgba(255, 255, 255, 0.5);
	display: inline-block;
}

.saleStrike{
	text-decoration: line-through;
	font-size: 0.8em;
	color: red;
	background-color: rgba(255, 255, 255, 0.5);
}

#jobsTitleUnemployed{
	font-size: .8em;
}

.resourceRow{
	height: 49.9%;
	padding-right: .25vw;
}

#resourceColumn {
	height: 100%;
	padding-right: 0;
}
.maxH{
	height: 100%;
}

#miscColumn {
    margin-right: 0;
	height: 100%;
	width: 8.33333333%;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}

#trimpsColumn {
    padding-right: .25vw;
	padding-left: 0;
    height: 100%;
}

.resourceRow >:first-child {
    padding-right: .25vw;
}

.resourceRow >:nth-child(2) {
    padding-left: .25vw;
	padding-right: 0;
}

.resourceRow{
	padding-right: 0;
}

#resourceColumn{
	padding-left: 0;
	margin-left: 15px;
	width: calc(33.33333333% - 15px);
	padding-right: 15px;
}

#trimpsTimeToFill {
	color: black;
	margin-top: 4%;
}

.resProgress {
    height: 12%;
}

.playerGatherSm {
    height: 32.5%;
}

.playerGatherSm > .title {
	font-size: 1.2vw;
}

#trimps {
    height: 100%;
}

.title {
    font-weight: bold;
    font-size: 1.4em;
}

#logBtnGroup {
    height: 2vw;
	font-size: 1vw;
}

#logBtnGroup div button {
	font-size: 0.8vw;
}

.workBtn {
    border: 1px solid white;
    background: rgba(0, 0, 0, 1);
    font-size: 1.12em;
    text-align: center;
    padding: 3px;
}

.incrementBtn {
    border: 1px solid white;
    background: rgba(255, 255, 255, .75);
	color: black;
    font-size: 1vw;
    text-align: center;
    padding: 4px;
}

#scienceCollectBtn{
	font-size: 1em;
}

.portalBtn{
	font-size: .6vw;
}



.lowPad {
	padding-left: 5px;
	padding-right: 5px;
}

.noPad {
	padding-left: 0;
	padding-right: 0;
}

#science {
    padding-top: 3.5%;
}

.collectRow {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.collectRow >:first-child {
    padding-right: 2px;
}

.collectRow >:nth-child(2) {
    padding-left: 2px;
}

.psText {
    font-size: 1.2em;
	display: block;
    text-align: center;
}

.bdHover {
	cursor: pointer;
}

#innerWrapper{
	margin: 0;
	padding: 0;
	padding: 0.5%;
	height: 100%;
}

.psText:hover, .bdHover:hover{
	text-decoration: underline;
	color: #318696 !important;
}

.psQ{
	border: 1px solid white;
	border-radius: 50%;
	width: 10%;
	font-size: .8em;
	background-color: blue;
	padding: 1.75% 4%;
}

.bdTableSm{
	font-size: .85vw;
	text-align: center;
}

.bdTableSm > tbody > tr > td{
	border: 1px solid black;
}

.bdTable{
	font-size: 1.1em;
	text-align: center;
}

.bdTable > tbody > tr > td{
	width: 33%;
	border: 1px solid black;
}

.bdTitle{
	font-weight: bold;
	text-decoration: underline;

}

.bdPercent{
	
}

.bdNumber{
	
}

.collectRow {}

#trapArea {
    border: 1px solid white;
    display: inline-block;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 85%;
}

#trappingBar {}

#trappingProgress {
    margin-top: 3%;
}

#empHide,
#unempHide {
    font-size: 1.2em;
}

#logContainer {
    border: 2px solid white;
    height: 100%;
    width: 100%;
    background: rgba(121, 121, 123, 0.5);
    color: white;
}

#logColumn {
    padding-left: .25vw;
	height: 100%;
}



#buyCol {
	height: 100%;
	padding-right: .25vw;
}

.alert {
    background-color: yellow;
    color: black;
	min-width: initial;
	padding: 2% 5.5%;
	font-size: 1em;
	border-radius: 100%;
}

#foremenCount,
#buildSpeed {
    font-size: 1.12em;
    margin-top: 5px;
}

#queueContainer {
    background: rgba(121, 121, 123, 0.5);
    border: 2px solid white;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 85px;
}

.queueItem {
    display: inline-block;
    font-size: 1.1em;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
    padding: 2px;
}

#queueItemsHere >:nth-child(1) {
    border: 2px solid yellow;
    margin-left: 5px;
}

#queueRow {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

#buildingsCollectBtn {
    width: 95%;
}

#buildingsQueue {
    overflow-y: auto;
    height: 40px;
}

#noQueue {
    font-size: 1.4em;
    color: white;
    padding-left: 5px;
}

#fireBtn {
    border: 1px solid white;
}

#viewChallengeText {
	font-size: 1.3vw;
}

.nextChallenge {
	background-color: black !important;
	color: white;
}

#portalRow {
	margin-top: 1vw;
}

.nav > li > a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.nav > li > a:focus {
    background: none;
}

.nav-tabs>li>a {
    color: white;
    font-size: 1.1em;
    padding: 4px;
}

#buyHere {
    width: 100%;
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.titleDiv {
    font-size: 1.5em;
    padding: 5px 0 5px 0;
    text-align: center;
    width: calc(100% - 10px);
}

.titleSpan {}

#buyContainer {
	overflow-y: auto;
	height: calc(99vh - 20vw - 195px);
}

#outerBuyContainer{
	border: 2px solid white;
	margin: 0 0 5px 0;
	background: rgba(121,121,123,0.5);
	color: white;
}

#buyHere {
    padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.thing {
    display: inline-block;
	width: 24.2%;
	margin-left: 0.25%;
	margin-right: 0.25%;
    padding: .2vh;
    text-align: center;
    background-color: grey;
    color: white;
    font-size: .85vw;
    border: 1px solid white;
}

#battleContainer {
    border: 2px solid white;
    background: rgba(121, 121, 123, 0.5);
    color: white;
    padding: 10px;
    height: 100%;
    width: 100%;
	font-size: 1vw;
}

.fightBar{
	height: 1.4vw;
	font-size: 1.6vw !important;
	font-weight: bold;
}

.innerFightBar{
	font-size: 1.4vw !important;
	line-height: 1.4vw !important;
}

#battleHeadContainer {
	margin-bottom: 1vw;
}

#battleHead {
    text-align: center;
}

#goodGuyBar,
#badGuyBar {
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

#gridRow {
    height: calc(99% - 140px);
}



#settingsRow {
    position: fixed;
    bottom: 0;
    background-color: #545353;
    width: 100%;
    left: 0;
	color: white;
}

#settingsTable > tbody > tr > td {
	width: 9.1% !important;
	border: 1px solid black;
	display: table-cell !important;
	text-align: center;
}

.noTitle.title {
	display: none;
}


.settingBtn {
    font-size: 1.3vw;
	border: 1px solid black;
	cursor: pointer;
	text-align: center;

}

.settingBtntrue, .settingBtn1{
	background-color: #5cb85c;
}

.settingBtnfalse, .settingBtn0{
	background-color: #d9534f;
}

.settingBtn2{
	background-color: yellow;
	color: black;
}

.optionContainer {
	display: inline-block;
	vertical-align: top;
	margin-left: 2vw;
	margin-right: 2vw;
	margin-bottom: 1vw;
	width: 15.5vw;
}

.optionItemDescription{
	padding-left: .5vw;
	padding-right: .5vw;
	font-size: 1vw;
}

#settingsHere{
	margin-bottom: 2vw;
	margin-top: 2vw;
}

#numTabs{
	margin-top: 5px;
}

#numTabs > ul > li > a {
    padding: 3px;
}

#buyTabsUl > li > a {
	border: 1px solid #ddd;
	border-radius: 8px 8px 0 0;
}

.buyTab{
	font-size: 1vw;
}

#mapsHere {
	height: calc(100vh - 31.5vw - 90px);
    overflow-y: auto;
	width: 100%;
}

#settingsTable {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.progress {
    margin-bottom: 0;
}

#rightCol {
	height: calc(99vh - 20vw - 27px);
	padding-left: .25vw;
}

.ownedArea {
    font-size: 1.3em;
}

#leftMenu {
    height: 100%;
    padding: 10px;
    padding-top: 0;
}

.buyTitle {
    font-size: 1.5em;
    cursor: pointer;
}

.message {
    display: block;
    margin-top: 5px;
	font-size: .9vw;
}

#buildings {
    text-align: center;
}

#grid,
#mapGrid {
    width: 100%;
    height: 100%;
    color: black;
    background: rgba(255, 255, 255, 0.25);
    text-align: left;
	list-style: none;
	padding-left: 0;
}

.battleRow{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.battleCell {
    border: 1px solid black;
	display: inline-block;
	text-align: center;
}

.collecting {}

#log {
    height: calc(100% - 2.1vw);
    width: 100%;
    overflow-y: scroll;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
}

#settings {

}

#tooltipDiv {
    width: 32.5vw;
    position: absolute;
    background: lightgrey;
    display: none;
    padding: 10px;
    border: 2px solid blue;
    font-size: 0.9vw;
	z-index: 99999999999999;
}

@media screen and (max-width: 1200px) {
    #tooltipDiv{
		font-size: 1.1vw;
	}
}


#tooltipDiv > hr {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.onMapName{
	width: 90%;
	display: inline-block;
}

.onMapIcon{
	width: 5%;
	display: inline-block;
}

.alignCenter{
	text-align: center;
}

#tipTitle {
    font-size: 1.2em;
    text-align: center;
}

.fightBtn{
	width: 100%;
	font-size: 1.1vw !important;
}

.shrinkBtnText{
	font-size: 0.9vw !important;
}

@media screen and (max-height: 800px) {
    .fightBtn{
		font-size: .95vw !important;
		padding: .3vw !important;
	}
}



#lootBdTabs{
	background-color: black;
}

#lootBdTabs > li{
	border: 1px solid white;
}

#pauseFight{
	font-size: 1vw;
}

.battleStatsTitle {
    font-size: 1.1em;
}

.badBadge {
	font-size: .8em;
}

#badCanCrit{
	font-size: 0.88em;
}

.trimpBadge {
	font-size: .8em;
	background-color: yellow;
	color: black;
}

.antiBadge{
	font-size: .8em;
}

.autosaving{
	color: white; 
	background-color: #5cb85c; 
	border-radius: 25px; 
	padding: 0.25em;
	font-size: .9em;
}

.notAutosaving{
	color: white; 
	background-color: #d9534f; 
	font-size: .9em;
	border-radius: 25px; 
	padding: 0.25em;
}

.errorMessage {
    color: red;
}

.battleSideBtnContainer{
	margin-top: 5px;
}

#battleTimer {
    text-align: center;
    font-size: 1.5em;
}

#battleBtnsColumn{
	padding-right: 1px;
}

#battleSideTitle {
    font-size: 1.1vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
	padding-top: 5%;
	padding-bottom: 5%;
	
}

.brokenUpgrade {
	color: purple;
}

.niceScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.niceScroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.niceScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logFlt {
    border-radius: 0;
}

#preMapsTitle {
    text-align: center;
    font-size: 1.3em;
}

#mapChamberTitleRow{
	height: 30px;
}

#selectedMapContainer {
    font-size: 1.1vw;
    text-align: center;
	margin-bottom: 5px;
}
.selectMapBtn{
	font-size: 1.1vw;
}
.mapStatsValue {
	text-align: left;
}

.mapStatsTitle {
	text-align: right;
}

#mapsCreateRow {
	text-align: center;
	font-size: 1vw;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 1vw;
	margin-right: 1px;
}
#advMapsRow{
	text-align: center;
	font-size: .9vw;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 1vw;
	margin-right: 1px;
}
#advMapsTitle{
	font-size: 1.2vw;
}
#selectedMapName {
    text-decoration: underline;
	padding-top: 10px;
}

#mapLevelInput {
	color: black;
	width: 3.3vw;
}

.green {
    color: green;
}

.red {
    color: red;
}

#portalWrapper{
	background-color: green;
	width: 100vw;
	height: 100vh;
	padding: 20px;
	text-align: center;
	padding-left: 10vw;
	padding-right: 10vw;
}

#statsWrapper, #achievementWrapper{
	background-color: black;
	width: 100vw;
	height: 100vh;
	padding: 20px;
	text-align: center;
	padding-left: 10vw;
	padding-right: 10vw;
	font-size: 1.5vw;
	color: white;
}

#achievementWrapper{
	background-color:black;

	padding: 2vw 5vw 2vw 5vw;
}

#achievementsHere{
	margin-top: 2%;
	overflow-y:  auto;
	height: calc(98% - 9.5vw);
	background: rgba(60, 60, 60, 0.4);
	text-align: center;
}

.littleAchievementWrapper{
	width: 85%;
	display: inline-block;
	text-align: left;
}

.achievementContainer{
	border: 1px solid white;
	margin: 0.5%;
	display: inline-block;
	color: black;
	font-size: 1.22vw;
	line-height: 1.45vw;
	text-align: center;
	padding-top: 0.15vw;
}

.achievementTitle{
	width: 15%;
	border: 0.2vw solid white;
	background-color: white;
	text-align: center;
	display: inline-block;
	font-size: 1.2vw;
	color: black;
	line-height: 1.6vw;
	display: inline-block;
	vertical-align: top;
	margin-top: 0.4vw;
}

.doubleTall{
	line-height: 4.15vw;
}

#achievementPopup{
	position: absolute;
	top: 70%;
	width: 35%;
	left: 32.5%;
	background: rgba(220, 220, 220, 0.95);
	color: #3f3f3f;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 25px;
	border: 4px outset #536373;
}

#achievementHover{
	width: 100%;
	background: rgba(220, 220, 220, 0.95);
	color: #3f3f3f;
	font-size: 1.5vw;
	text-align: center;
	border-radius: 25px;
	border: 4px outset #536373;

}

#achievementMessage{
	width: 98%;
	background-color: blue;
	color: white;
	text-align: center;
}

#achievementTopRow{
	height: 8.5vw;
}

#achievementMainButtons{
	position: absolute;
	font-size: 2vw;
	left: 95%;
	z-index: 999999;
}

#achievementHelp{
	color: #202080;
	cursor: pointer;
}

.bdZoneTitle{
	font-size: 1.1em;
}

#roboTrimpBtn{
	text-align: center;
}

#chainHolder{
	width: 100%;
	border-radius: 25px;
	display: inline-block;
	background-color: grey;
	border: 1px solid black;
	line-height: 1.1em;
	font-size: 1.1em;
	color: black;
	padding-top: 0.1em;
}

#achievementHelpContainer{
	font-size: 1.3vw;
}

#achievementMainClose{
	color: #6f1f1f;
	cursor: pointer;
}

#achievementHeader{
	font-size: 1.5vw;
}

.achievementMainTitle{
	font-weight: bold;
	font-size: 1.3em;
}

.achievementPopupIcon{
	font-size: 3.8em;
	color: #151535;
}

#achievementPopupDescription, #achievementHoverDescription{
	font-size: .85em;
}

#achievementPopupReward, #achievementHoverReward{
	font-size: .85em;
}

#achievementHoverProgress {
	font-size: .75em;
	font-weight: bold;
}

#achievementPopupTitle, #achievementHoverTitle{
	font-weight: bold;
	color: #318696;
}

.achievementBtns{
	left: 87%;
	display: inline-block;
	position: absolute;
	z-index: 50;
}

.achievementBtnClose{
	cursor: pointer;
	color: #6f1f1f;
	font-size: 1.15em;
}

.achievementBtnGo{
	cursor: pointer;
	color: #1f6f1f;
	margin-right: 0.1vw;
}

#statsTitle{
	font-size: 3vw;
}

.activatePortalBtn{
	font-size: 1.3vw;
	margin: 15px;
}

#portalStory{
	display: inline-block;
	font-size: 1.2vw;
}

.portalThing{
	font-size: 1.2vw;
}

#portalUpgradesHere{
	display: inline-block;
}

#portalTitle{
	width: 100%;
	font-size: 3.5vw;
	text-align: center;
}

#portalHelium{
	font-size: 2vw;
}
#portalTotalHelium{
	font-size: 1.3vw;
}
#portalTotalPortals{
	font-size: 1.3vw;
}

.inPortalBtn{
	font-size: 2vw !important;
}

.inPortalBtnSm{
	font-size: 1.5vw !important;
	margin-bottom: .5vw;
}

#biomeAdvMapsSelect{
	color: black;
}

.NoticesMessage {
    color: red;
	background: rgba(0, 0, 0, 0.5);
}
.StoryMessage {
	color: #00FFFF;
}
#saveGame{
	color: #7CFC00;
}

.exotic{
	color: #640169 !important;
	background: rgba(255, 255, 255, 0.5);
}

.pumpkimp{
	color: orange !important;
	background: rgba(0, 0, 0, 0.75);
}

.presimpt{
	color: rgb(64, 220, 64) !important;
	background: rgba(220, 64, 64, 0.75);
}

.presimptBones{
	color: white !important;
	font-weight: bold;
}

.statToggleBtn{
	font-size: 1.5vw;
	border: 5px solid black;
}

#turkimpBuff{
	width: 100%;
	text-align: center;
	background: rgba(102, 51, 0, 0.7);
	color: #CC6600;
	font-size: .8em;
	padding-top: .2vw;
}

.turkimp{
	background: rgba(102, 51, 0, 0.9);
	color: #CC6600;
}

.noRecycle{
	background-color: #5cb85c;
}

.noRecycleDone{
	background-color: red;
}

.successColor{
	background-color: #5cb85c;
}
.dangerColor{
	background-color: #d9534f;
}
.infoColor{
	background-color: #5bc0de;
}
.primaryColor{
	background-color: #337ab7;
	color: white;
}
.greyColor{
	background-color: grey;
}
.tealColor{
	background-color: #318696 !important;
	color: white;
}
#boneWrapper{
	position: absolute;
	color: black;
	background: rgba(255, 255, 255, 0.98);
	border: 2px solid black;
	width: 90vw;
	margin: 5vh 5vw 5vh 5vw;
	z-index: 1000000;
	text-align: center;
	font-size: 1.3vw;
	padding: .5vw 2vw;
}

#minusRes{
	color: red;
	border: 1px solid red;
	font-size: .8em;
}

#boostPreviewContainer{
	width: 100%;
	text-align: left;
	margin-bottom: 1vw;
}


.boostSpacer{

	font-size: .8em;
}

.importsPreview{
	text-align: left;
	margin-bottom: .1vw;
	width: 90%;
	display: inline-block;
}

.bundleBtn{
	font-size: .8em;
}

.kredImg{
	width: 1.5vw;
}

#addBundleBtn{
	margin-bottom: 1vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	color: white;
} 

.titleCell{
	text-decoration: underline;
	font-weight: bold;
}

.importLocation{
	text-align: center;
	text-decoration: underline;
	text-color: grey;
	font-size: .8em;
	font-weight: bold;
}

#bundleTitle{
	font-size: 2vw;
	margin-bottom: .5vw;
}

#importsPreview1{
	margin-top: 1vw;
	margin-bottom: 1vw;
}

#boneBtnText{
	font-size: .9vw;
}

.boneBtn{
    border: 1px solid white;
    text-align: center;
    padding: .1vw;
}

#boneBuyRow{
	height: 27vw;
}

#getBonesBtn{
	color: white;
	border: 1px solid black;
}

#getBonesBtn:hover{
	background-color: #326332;
}

.boneBuyDesc{
	font-size: .8em;
	background-color: #d0d0d0;
}

.miscDesc{
	background-color: #d0d0d0;
	margin-top: .5vw;
	margin-bottom: 1.84vw;
}

#boneFlavorRow{
	font-size: 1.2vw;
	margin-top: .6vw;
	margin-bottom: .6vw;
}
#boneTopRow{
	font-size: 4vw;
}
#boneTitleContainer{
	font-weight: bold;
	font-size: 3vw;
}
#boneOwnedContainer{
	font-size: 2vw;
}
#purchaseBonesTitle{
	font-size: 3vw;
}

#importBuyDesc{
	font-size: .9em;
}

.thingSmall{
	display: inline-block;
	font-size: 1.3em;
	border: 1px solid black;
	width: 25%;
	color: white;
	margin-top: .5vw;
	margin-bottom: .5vw;
}

.importPreviewName{
	font-weight: bold;
}

.importPreviewLoot{
	width: 83%;
	text-align: right;
	padding-left: 1vw;

}

#importPurchaseBtn{
	margin-top: .5vw;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: .2vw;
}

.buyBoostBtn{
	margin-bottom: .5vw;
}

.table{
	margin-bottom: 0;
}

#boneBuyTableContainer{
	text-align: center;
}

#boneBuyTable{
	background-color: #337ab7;
	color: white;
	width: 45%;
	margin-left: 27.5%;
	text-align: left;
	margin-top: 1vw;
}


#boneBuyTable > tbody > tr{
	border-bottom: 1vw solid white;
}


#boneBuyTable > tbody > tr > td:first-child{
	padding-left: 1vw;
	width: 30%;
	padding-right: 0;
}

.boneBuyColumn{
	background-color: #e1e1e1;
	height: 100%;
	border: .5vw solid white;
}


#boneBuyTable > tbody > tr > td:nth-child(2){
	text-align: center;
}

#boneBuyTable > tbody > tr > td:nth-child(3){
	text-align: right;
	padding-right: 1vw;
}


.importsTable > tbody > tr:hover{
	background-color: grey;
	cursor: pointer;
}

.importsTable > tbody > tr {
	background-color: #d0d0d0;
	font-size: .75vw;
}

#mapBonus{
	font-size: .8em;
}

#critSpan, #badCrit{
	font-weight: bold;
	color: yellow;
	font-size: .9em;
}

#tab5{
	width: 2.2%;
}

.goldMap{
	background-color: #998100;
}

#bonesFrom{
	margin-top: .5vw;
	display: inline-block;
}

#getBundleBtn{
	margin-top: .5vw;
	margin-left: -4px;
	border: 1px solid black;
	font-size: 0.8em !important;
	color: white !important;
	background-color: #4692a8;
	padding: 0.25vw;
}

#getBundleBtn:hover{
	background-color: #2a5866;
}

#challengesHere{
	margin-bottom: 1vw;
}

#specificChallengeDescription{
	min-height: 10vw;
	margin: 1vw;
	color: #318696;
	background-color: #d0d0d0;
}

#challenges{
	margin: 1vw;
}

#challengeTitle{
	text-align: center;
	font-size: 1.1vw;
}

#challengeDescription{
	font-size: 1vw;
	height: 20vw;
}

#portalTabs{
    background: black;
	border: 1px solid white;
	margin-bottom: .5vw;
	margin-top: .5vw;
}

#ptabRemove > a {
	color: red;
}

#portalError{
	background-color: black;
	color: red;
	font-size: 1.1vw;
}

.challengeThing{
	background-color: #318696;
	color: white;
	font-size: 1.1vw;
}

#extraGridInfo{
	font-size: 1vw;
}

#extraGridInfoTitle{
	text-align: center;
	font-weight: bold;
	font-size: 1.2vw;
}

#extraGridInfoSummary{
	margin-top: 1vw;
	font-size: 1.1vw;
}

#extraGridInfoSub{
	font-weight: bold;
	margin-top: 1vw;
}

#extraGridInfoBtns{
	margin-top: 1vw;
	text-align: center;
	font-size: 1.3vw;

}

.finishedChallenge {
	background-color: grey;
}

.formationBtn{
	background-color: grey;
	color: white;
	text-align: center;
	border: 1px solid black;
	border-radius: 4px;
	display: none;
}

#helpContainer {
	font-size: 1.1vw;
}

#lootBdContainer{
	margin-top: 5%;
	margin-right: 12.5%;
}

.btn-warning {
  color: #fff;
  background-color: #ce8c2d;
  border-color: #885b1c;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ab7324;
  border-color: #885b1c;
}

.btn-info {
  color: #000;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #000;
}

.btn-new {
  color: white;
background: rgba(14,11,92,1);
background: -moz-linear-gradient(left, rgba(14,11,92,1) 0%, rgba(0,0,0,1) 24%, rgba(19,33,88,1) 47%, rgba(39,68,184,1) 72%, rgba(32,52,155,1) 80%, rgba(15,12,82,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(14,11,92,1)), color-stop(24%, rgba(0,0,0,1)), color-stop(47%, rgba(19,33,88,1)), color-stop(72%, rgba(39,68,184,1)), color-stop(80%, rgba(32,52,155,1)), color-stop(100%, rgba(15,12,82,1)));
background: -webkit-linear-gradient(left, rgba(14,11,92,1) 0%, rgba(0,0,0,1) 24%, rgba(19,33,88,1) 47%, rgba(39,68,184,1) 72%, rgba(32,52,155,1) 80%, rgba(15,12,82,1) 100%);
background: -o-linear-gradient(left, rgba(14,11,92,1) 0%, rgba(0,0,0,1) 24%, rgba(19,33,88,1) 47%, rgba(39,68,184,1) 72%, rgba(32,52,155,1) 80%, rgba(15,12,82,1) 100%);
background: -ms-linear-gradient(left, rgba(14,11,92,1) 0%, rgba(0,0,0,1) 24%, rgba(19,33,88,1) 47%, rgba(39,68,184,1) 72%, rgba(32,52,155,1) 80%, rgba(15,12,82,1) 100%);
background: linear-gradient(to right, rgba(14,11,92,1) 0%, rgba(0,0,0,1) 24%, rgba(19,33,88,1) 47%, rgba(39,68,184,1) 72%, rgba(32,52,155,1) 80%, rgba(15,12,82,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0b5c', endColorstr='#0f0c52', GradientType=1 );

}
.btn-new:hover,
.btn-new:focus,
.btn-new.focus,
.btn-new:active,
.btn-new.active,
.open > .dropdown-toggle.btn-new {
  color: white;
background: rgba(11,8,97,1);
background: -moz-linear-gradient(left, rgba(11,8,97,1) 0%, rgba(25,21,79,1) 6%, rgba(43,39,56,1) 14%, rgba(57,68,122,1) 23%, rgba(41,25,133,1) 25%, rgba(18,26,166,1) 39%, rgba(18,18,92,1) 47%, rgba(57,57,204,1) 60%, rgba(17,8,140,1) 65%, rgba(56,56,171,1) 91%, rgba(28,37,133,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(11,8,97,1)), color-stop(6%, rgba(25,21,79,1)), color-stop(14%, rgba(43,39,56,1)), color-stop(23%, rgba(57,68,122,1)), color-stop(25%, rgba(41,25,133,1)), color-stop(39%, rgba(18,26,166,1)), color-stop(47%, rgba(18,18,92,1)), color-stop(60%, rgba(57,57,204,1)), color-stop(65%, rgba(17,8,140,1)), color-stop(91%, rgba(56,56,171,1)), color-stop(100%, rgba(28,37,133,1)));
background: -webkit-linear-gradient(left, rgba(11,8,97,1) 0%, rgba(25,21,79,1) 6%, rgba(43,39,56,1) 14%, rgba(57,68,122,1) 23%, rgba(41,25,133,1) 25%, rgba(18,26,166,1) 39%, rgba(18,18,92,1) 47%, rgba(57,57,204,1) 60%, rgba(17,8,140,1) 65%, rgba(56,56,171,1) 91%, rgba(28,37,133,1) 100%);
background: -o-linear-gradient(left, rgba(11,8,97,1) 0%, rgba(25,21,79,1) 6%, rgba(43,39,56,1) 14%, rgba(57,68,122,1) 23%, rgba(41,25,133,1) 25%, rgba(18,26,166,1) 39%, rgba(18,18,92,1) 47%, rgba(57,57,204,1) 60%, rgba(17,8,140,1) 65%, rgba(56,56,171,1) 91%, rgba(28,37,133,1) 100%);
background: -ms-linear-gradient(left, rgba(11,8,97,1) 0%, rgba(25,21,79,1) 6%, rgba(43,39,56,1) 14%, rgba(57,68,122,1) 23%, rgba(41,25,133,1) 25%, rgba(18,26,166,1) 39%, rgba(18,18,92,1) 47%, rgba(57,57,204,1) 60%, rgba(17,8,140,1) 65%, rgba(56,56,171,1) 91%, rgba(28,37,133,1) 100%);
background: linear-gradient(to right, rgba(11,8,97,1) 0%, rgba(25,21,79,1) 6%, rgba(43,39,56,1) 14%, rgba(57,68,122,1) 23%, rgba(41,25,133,1) 25%, rgba(18,26,166,1) 39%, rgba(18,18,92,1) 47%, rgba(57,57,204,1) 60%, rgba(17,8,140,1) 65%, rgba(56,56,171,1) 91%, rgba(28,37,133,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b0861', endColorstr='#1c2585', GradientType=1 );

}
.btn-new:active,
.btn-new.active,
.open > .dropdown-toggle.btn-new {
  background-image: none;
}

#flagMustRestart{
	color: maroon;
}

input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.progress {
    position: relative;
}

.progress > div > span {
    position: absolute;
    display: block;
    width: 100%;
	font-size: 1vw;
	line-height: 1vw;
	margin: 0;
	padding: 0;
	color: black;
 }
 
 .noTransition {
	-webkit-transition: none !important;
       -o-transition: none !important;
          transition: none !important;
 }
 
 #miscColumn  span {
	font-size: 1.2vw !important;
}

.mapElementSelected {
	border: 1px solid red;
}

.mapElementNotSelected {
	border: 1px solid white;
}

.thingCanAfford {
	background: black;
}

.thingCanNotAfford {
	background: grey;
}

.thingFiringJob {
	background: red;
}

.fireBtnFiring {
	background: rgba(255,0,0,0.5);
}

.fireBtnNotFiring {
	background: rgba(255,255,255,0.25);
}

.tabSelected {
	background: rgba(0,0,0,0.5);
}

.tabNotSelected {
	background: rgba(255,255,255,0.25);
}

.cellBeaten {
	background: green;
}

.cellCurrent {
	background: yellow;
}

.cellNotBeaten {
	background: grey;
}