/*Top Row*/
body {
	background-color: black;
	overflow-y: hidden;
overflow-x: hidden;
}
.progress-bar {
    -webkit-transition: width .1s ease;
    transition: width .1s ease;
}

#wrapper {
    padding: 15px;
    height: 100vh;
    background-size: auto 100%;
}

#topRow {
    /*height: 285px;*/
    height: 18vw;
    margin-bottom: 10px;
}

.playerGather {
    font-size: 1.1vw;
    text-align: center;
    width: 100%;
	height: 100%;
    border: 2px solid white;
    background: rgba(121, 121, 123, 0.5);
    margin-bottom: 3%;
    color: white;
}

#jobsTitleUnemployed{
	font-size: .8em;
}

.resourceRow{
	height: 49.9%;
}

#resourceColumn {
    padding-right: .3%;
	height: 100%;
}
.maxH{
	height: 100%;
}

#miscColumn {
    padding-left: .3%;
    padding-right: .3%;
	height: 100%;
}

#trimpsColumn {
    padding-left: .3%;
    padding-right: .3%;
    height: 100%;
}

.resourceRow >:first-child {
    padding-right: 1%;
}

.resourceRow >:nth-child(2) {
    padding-left: 1%;
}

.resProgress {
    height: 10%;
}

.playerGatherSm {
    height: 32.5%;
}

.playerGatherSm > .title {
	font-size: 1.2vw;
}

#trimps {
    height: 100%;
}

.title {
    font-weight: bold;
    font-size: 1.4em;
}

#logBtnGroup {
    height: 10%;
}

.workBtn {
    border: 1px solid white;
    background: rgba(0, 0, 0, 1);
    font-size: 1.12em;
    text-align: center;
    padding: 3px;
}

.incrementBtn {
    border: 1px solid white;
    background: rgba(255, 255, 255, .75);
	color: black;
    font-size: 1vw;
    text-align: center;
    padding: 4px;
}

#scienceCollectBtn{
	font-size: 1em;
}

.portalBtn{
	font-size: .6vw;
}



.lowPad {
	padding-left: 5px;
	padding-right: 5px;
}

#science {
    padding-top: 3.5%;
}

.collectRow {
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.collectRow >:first-child {
    padding-right: 2px;
}

.collectRow >:nth-child(2) {
    padding-left: 2px;
}

.psText {
    font-size: 1.2em;
    display: block;
    text-align: center;
}

.collectRow {}

#trapArea {
    border: 1px solid white;
    display: inline-block;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    width: 85%;
}

#trappingBar {}

#trappingProgress {
    margin-top: 3%;
}

#empHide,
#unempHide {
    font-size: 1.2em;
}

#logContainer {
    border: 2px solid white;
    padding-top: 5px;
    height: 100%;
    width: 100%;
    background: rgba(121, 121, 123, 0.5);
    color: white;
}

#logColumn {
    padding-left: .3%;
	height: 100%;
}



#buyCol {
	height: 100%;
}

.alert {
    background-color: yellow;
    color: black;
}

#foremenCount,
#buildSpeed {
    font-size: 1.12em;
    margin-top: 5px;
}

#queueContainer {
    background: rgba(121, 121, 123, 0.5);
    border: 2px solid white;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 105px;
}

.queueItem {
    display: inline-block;
    font-size: 1.1em;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    text-align: center;
    padding: 2px;
}

#queueItemsHere >:nth-child(1) {
    border: 2px solid yellow;
    margin-left: 5px;
}

#queueRow {
    color: white;
    font-size: 1.2em;
    text-align: center;
    height: 40px;
}

#buildingsCollectBtn {
    width: 95%;
}

#buildingsQueue {
    overflow-y: auto;
    height: 30px;
}

#noQueue {
    font-size: 1.4em;
    color: white;
    padding-left: 5px;
}

#fireBtn {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid white;
}

.nav-tabs>li {
    background: rgba(255, 255, 255, 0.25);
}

.nav > li > a:hover {
    background: rgba(0, 0, 0, 0.5);
}

.nav > li > a:focus {
    background: none;
}

.nav-tabs>li>a {
    color: white;
    font-size: 1.1em;
    padding: 4px;
}

#buyHere {
    width: 100%;
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.titleDiv {
    font-size: 1.5em;
    padding: 5px 0 5px 0;
    text-align: center;
    width: calc(100% - 10px);
}

.titleSpan {}

#buyContainer {
	overflow-y: auto;
	height: calc(99vh - 20vw - 215px);
}

#outerBuyContainer{
	border: 2px solid white;
	margin: 0 0 5px 0;
	background: rgba(121,121,123,0.5);
	color: white;
}

#buyHere {
    padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.thing {
    display: inline-block;
	width: 24.2%;
	margin-left: 0.25%;
	margin-right: 0.25%;
    padding: .2vh;
    text-align: center;
    background-color: #5B6073;
    color: white;
    font-size: .85vw;
    border: 1px solid white;
}

#battleContainer {
    border: 2px solid white;
    background: rgba(121, 121, 123, 0.5);
    color: white;
    padding: 10px;
    height: 100%;
    width: 100%;
}

#battleHeadContainer {
    height: 90px;
}

#battleHead {
    text-align: center;
}

#goodGuyBar,
#badGuyBar {
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

#gridRow {
    height: calc(99% - 140px);
}

#settingsRow {
    position: fixed;
    bottom: 0;
    background-color: grey;
    width: 100%;
    left: 0;
}

.settingsBtn {
    font-size: 1.3vw;
}

#numTabs{
	margin-top: 5px;
}
#numTabs > ul > li > a {
    padding: 3px;
}

#buyTabsUl > li > a {
	border: 1px solid #ddd;
	border-radius: 8px 8px 0 0;
}

#mapsHere {
	height: calc(100vh - 31.5vw - 90px);
    overflow-y: auto;
	width: 100%;
}

#settingsTable {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.progress {
    margin-bottom: 0;
}

#rightCol {
	height: calc(99vh - 20vw - 27px);
}

.ownedArea {
    font-size: 1.3em;
}

#leftMenu {
    height: 100%;
    padding: 10px;
    padding-top: 0;
}

.buyTitle {
    font-size: 1.5em;
    cursor: pointer;
}

.message {
    display: block;
    margin-top: 5px;
	font-size: .9vw;
}

#buildings {
    text-align: center;
}

#grid,
#mapGrid {
    width: 100%;
    height: 100%;
    color: black;
    background: rgba(255, 255, 255, 0.25);
    text-align: left;
	list-style: none;
	padding-left: 0;
}

.battleRow{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

.battleCell {
    border: 1px solid black;
	display: inline-block;
	text-align: center;
}

.collecting {}

#log {
    margin-top: 5px;
    height: calc(100% - 42px);
    width: 100%;
    overflow-y: scroll;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
}

#settings {

}

#tooltipDiv {
    width: 30vw;
    position: absolute;
    background: lightgrey;
    display: none;
    padding: 10px;
    border: 2px solid blue;
    font-size: 1.15em;
	z-index: 99999999999999;
}

.maxCenter: {
    width: 100%;
    text-align: center;
}

#tipTitle {
    font-size: 1.2em;
    text-align: center;
}

.fightBtn{
	width: 100%;
	font-size: 1.1vw;
}

#pauseFight{
	font-size: 1vw;
}

.battleStatsTitle {
    font-size: 1.2em;
}

.errorMessage {
    color: red;
}

.battleSideBtnContainer{
	margin-top: 5px;
}

#battleTimer {
    text-align: center;
    font-size: 1.5em;
}

#battleBtnsColumn{
	padding-right: 1px;
}

#battleSideTitle {
    font-size: 1.1vw;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
	padding-top: 5%;
	padding-bottom: 5%;
	
}

.niceScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.niceScroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.niceScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logFlt {
    border-radius: 0;
}

#preMapsTitle {
    text-align: center;
    font-size: 1.3em;
}

#mapChamberTitleRow{
	height: 30px;
}

#selectedMapContainer {
    font-size: 1.1vw;
    text-align: center;
	margin-bottom: 5px;
}
.selectMapBtn{
	font-size: 1.1vw;
}
.mapStatsValue {
	text-align: left;
}

.mapStatsTitle {
	text-align: right;
}

#mapsCreateRow {
	text-align: center;
	font-size: 1vw;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 1vw;
	margin-right: 1px;
}
#advMapsRow{
	text-align: center;
	font-size: .9vw;
	background-color: rgba(0,0,0,0.5);
	padding-bottom: 1vw;
	margin-right: 1px;
}
#advMapsTitle{
	font-size: 1.2vw;
}
#selectedMapName {
    text-decoration: underline;
	padding-top: 10px;
}

#mapLevelInput {
	color: black;
	width: 3.3vw;
}

.green {
    color: green;
}

.red {
    color: red;
}

#portalWrapper{
	background-color: green;
	width: 100vw;
	height: 100vh;
	padding: 20px;
	text-align: center;
}

.activatePortalBtn{
	font-size: 1.3vw;
	margin: 15px;
}

#portalStory{
	width: 50vw;
	display: inline-block;
	font-size: 1.2vw;
}

.portalThing{
	font-size: 1.2vw;
}

#portalUpgradesHere{
	width: 50vw;
	display: inline-block;
}

#portalTitle{
	width: 100%;
	font-size: 3.5vw;
	text-align: center;
}

#portalHelium{
	font-size: 2vw;
}

.inPortalBtn{
	font-size: 2vw !important;
}

#biomeAdvMapsSelect{
	color: black;
}

.NoticesMessage {
    color: red;
}
.StoryMessage {
	color: #00FFFF;
}
#saveGame{
	color: #7CFC00;
}
.noRecycle{
	background-color: red;
}
.successColor{
	background-color: #5cb85c;
}
.dangerColor{
	background-color: #d9534f;
}
.infoColor{
	background-color: #5bc0de;
}
.primaryColor{
	background-color: #337ab7;
	color: white;
}
.greyColor{
	background-color: grey;
}
.tealColor{
	background-color: #318696 !important;
	color: white;
}
#boneWrapper{
	position: absolute;
	color: black;
	background: rgba(255, 255, 255, 0.98);
	border: 2px solid black;
	width: 90vw;
	margin: 5vh 5vw 5vh 5vw;
	z-index: 1000000;
	text-align: center;
	font-size: 1.3vw;
	padding: .5vw 2vw;
}

#minusRes{
	color: red;
	border: 1px solid red;
	font-size: .8em;
}

#boostPreviewContainer{
	width: 100%;
	text-align: left;
	margin-bottom: 1vw;
}


.boostSpacer{

	font-size: .8em;
}

.importsPreview{
	text-align: left;
	margin-bottom: .1vw;
	width: 90%;
	display: inline-block;
}

.bundleBtn{
	font-size: .8em;
}

.kredImg{
	width: 1.5vw;
}

#addBundleBtn{
	margin-bottom: 1vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	color: white;
} 

.titleCell{
	text-decoration: underline;
	font-weight: bold;
}

.importLocation{
	text-align: center;
	text-decoration: underline;
	text-color: grey;
	font-size: .8em;
	font-weight: bold;
}

#bundleTitle{
	font-size: 2vw;
	margin-bottom: .5vw;
}

#importsPreview1{
	margin-top: 1vw;
	margin-bottom: 1vw;
}

#boneBtn{
	font-size: .85vw;
}

.boneBtn{
    border: 1px solid white;
    text-align: center;
    padding: .1vw;
}

#boneBuyRow{
	height: 27vw;
}

#getBonesBtn{
	color: white;
	border: 1px solid black;
}

#getBonesBtn:hover{
	background-color: #326332;
}

.boneBuyDesc{
	font-size: .8em;
	background-color: #d0d0d0;
}

#boneBuyTable{
	
}

.miscDesc{
	background-color: #d0d0d0;
	margin-top: .5vw;
	margin-bottom: 1.84vw;
}

#boneFlavorRow{
	font-size: 1.2vw;
	margin-top: .6vw;
	margin-bottom: .6vw;
}
#boneTopRow{
	font-size: 4vw;
}
#boneTitleContainer{
	font-weight: bold;
	font-size: 3vw;
}
#boneOwnedContainer{
	font-size: 2vw;
}
#purchaseBonesTitle{
	font-size: 3vw;
}

#importBuyDesc{
	font-size: .9em;
}

.thingSmall{
	display: inline-block;
	font-size: 1.3em;
	border: 1px solid black;
	width: 25%;
	color: white;
	margin-top: .5vw;
	margin-bottom: .5vw;
}

.importPreviewName{
	font-weight: bold;
}

.importPreviewLoot{
	width: 83%;
	text-align: right;
	padding-left: 1vw;

}

#importPurchaseBtn{
	margin-top: 1vw;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: .39vw;
}

.buyBoostBtn{
	margin-bottom: .5vw;
}

.table{
	margin-bottom: 0;
}

#boneBuyTableContainer{
	text-align: center;
}

#boneBuyTable{
	background-color: #337ab7;
	color: white;
	width: 45%;
	margin-left: 27.5%;
	text-align: left;
	margin-top: 1vw;
}


#boneBuyTable > tbody > tr{
	border-bottom: 1vw solid white;
}


#boneBuyTable > tbody > tr > td:first-child{
	padding-left: 1vw;
	width: 30%;
	padding-right: 0;
}

.boneBuyColumn{
	background-color: #e1e1e1;
	height: 100%;
	border: .5vw solid white;
}


#boneBuyTable > tbody > tr > td:nth-child(2){
	text-align: center;
}

#boneBuyTable > tbody > tr > td:nth-child(3){
	text-align: right;
	padding-right: 1vw;
}


.importsTable > tbody > tr:hover{
	background-color: grey;
	cursor: pointer;
}

.importsTable > tbody > tr {
	background-color: #d0d0d0;
}

#critSpan{
	font-weight: bold;
	color: yellow;
}

.goldMap{
	background-color: #998100;
}

#getBundleBtn{
	margin-top: 1vw;
	border: 1px solid black;
	font-size: 0.8em !important;
	color: white !important;
	background-color: #4692a8;
	padding: 0.25vw;
}

#getBundleBtn:hover{
	background-color: #2a5866;
}

#challengesHere{
	margin-bottom: 1vw;
}

#specificChallengeDescription{
	height: 3vw;
	margin: 1vw;
	color: #318696;
	background-color: #d0d0d0;
}

#challenges{
	background-color: grey;
	color: white;
	margin: 1vw;
}

#challengeTitle{
	text-align: center;
	font-size: 1.1vw;
}

#challengeDescription{
	font-size: 1vw;
}

#portalError{
	background-color: black;
	color: red;
	font-size: 1.1vw;
}

.challengeThing{
	background-color: #318696;
	color: white;
	font-size: 1.1vw;
}

#flagMustRestart{
	color: maroon;
}

input[type=number] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}